<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>dsh-remote-host-keychain</string>
  <key>CFBundleIdentifier</key>
  <string>com.deepseek.dsh.remote-host.keychain</string>
  <key>CFBundleName</key>
  <string>DSH Remote Host Keychain</string>
  <key>CFBundlePackageType</key>
  <string>XPC!</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>XPCService</key>
  <dict>
    <key>JoinExistingSession</key>
    <true/>
    <key>ServiceType</key>
    <string>Application</string>
  </dict>
</dict>
</plist>
